<header class="site-header">

  <div class="wrap">

    <a href="{{ site.baseurl }}"><span class="site-title">{{ site.title }}</span></a>
    <!-- <a href="http://dsoegijono.github.io"><span class="site-owner">by Daphne Soegijono</span></a> -->

    <nav class="site-nav">
      <a class="page-link" href="https://github.com/dsoegijono/twentyfour/fork"><i class="fa fa-code-fork fa-2x"></i></a>
      <a class="page-link" href="https://github.com/dsoegijono/twentyfour/stargazers"><i class="fa fa-star fa-2x"></i></a>
      <a class="page-link" href="https://github.com/dsoegijono/twentyfour/"><i class="fa fa-github fa-2x"></i></a>

      <!-- <a class="page-link" href="http://dsoegijono.github.io">by Daphne Soegijono</a> -->
    </nav>

  </div>

</header>
