<header class="site-header">
  <div class="wrap">

    <a href="{{ site.baseurl }}"><span class="site-title">{{ site.title }}</span></a>
    <a href="{{ site.url }}"><span class="site-owner">by {{ site.owner }}</span></a>

    <nav class="site-nav">
      <a class="page-link" href="{{ site.github }}/fork"><i class="fa fa-code-fork fa-2x"></i></a>
      <a class="page-link" href="{{ site.github }}/stargazers"><i class="fa fa-star fa-2x"></i></a>
      <a class="page-link" href="{{ site.github }}"><i class="fa fa-github fa-2x"></i></a>
    </nav>

  </div>
</header>
